<div class="chat-participant">
  <div class="left">
    <a href="" class="pull-left w-60 m-r-sm"><img src="images/a3.jpg" class="w-full img-circle" alt="..."></a>
    <div class="parti">
      <label class="parti-name">Jane</label>
      <span class="parti-title">I'm virtual agent, ask me anything</span>
    </div>
    <div class="switch"></div>
  </div>
  <div class="rating">
    <ul>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>
      <i class="fa fa-star-o"></i>
    </ul>
  </div>
  <div class="right">
    <div class="live-chat fa fa-user"></div>
    <a href="#">Live Chat</a>
  </div>

</div>
