<div class="chat-header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <!--<a class="navbar-brand" href="#">
          <img alt="Brand" src="images/logo.png">
        </a>-->
        <div class="ticket-info">
          <a class="ticket-id" ui-sref=".main" href="">SD10002</a>
          <label>Seldom ink exist in printer, there's alway error, when printing.</label>
        </div>

      </div>
    </div>
  </nav>
  <div class="chat-header-actions">
    <!--<div class="chat-gear fa fa-gear"></div>-->
    <div class="chat-minus fa fa-minus"></div>
    <div class="chat-close fa fa-times"></div>
  </div>
</div>
