<!DOCTYPE html>
<html lang="en">
<head>
  <title>SMC</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="lib/strophejs/strophe.js"></script>
  <style>
  </style>
</head>
  <body ng-app="smc" ng-controller="smcCtrl" style="overflow:hidden">
  	<div class="container-fluid" ng-hide="launchButtonShow" style="background-color:#00AA81;">
		<a id="showChatBtn" href="#" class="btn btn-info btn-xs" ng-click="showLaunchButton()">
			<span class="glyphicon glyphicon-search"></span>
		</a>
	</div>
	<div id="launchChatPanel" class="container-fluid" style="padding:0px" ng-show="launchButtonShow">
	<div class="container-fluid" style="background-color:#00AA81;">
		<div class="row">
			<div class="col-xs-3 text-center" style="background-color:#00AA81;">
				<img class="img-circle" style="width:60px;height:60px;margin-top:5px;margin-bottom:5px;" src="http://www.w3schools.com/bootstrap/bird.jpg">
			</div>
			<div class="col-xs-7" style="background-color:#00AA81;">
				<div style="height:20px;">
				</div>
				<div style="color:white">
					Hello <strong>Anna</strong>
				</div>
				<div style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:white">
					Welcome to ask me anything!
				</div>
			</div>
			<div class="col-xs-2 text-right" style="background-color:#00AA81;padding-top:5px;">
				<a href="#" class="btn btn-xs" style="color:white">
					<span class="" ng-click="hideLaunchButton()">X</span>
				</a>
			</div>
		</div>
	</div>
	<div class="container-fluid" style="">
		<form name="chatQuestion">
		<div class="row">
			<div class="col-xs-12 form-group">
			  <label style="color:red;width:10px;height:10px;line-height:normal;vertical-align:middle;">*</label><label for="question">Describe your question</label>
	          <textarea ng-model="question" class="form-control" style="resize:none" id="question" name="question" placeholder="question" type="text" rows="5" required></textarea>
	        </div>
		</div>
		<div class="row">
			<div class="col-xs-12 form-group"><!-- chatQuestion.$invalid -->
	          <button ng-disabled="question == null || question.length == 0" ng-click="startChat()" class="btn btn-block" style="background-color:#00AA81;color:white">Start Chat</button>
	        </div>
		</div>
		</form>
	</div>
	</div>
</body>
  <script>
  	function changeIFrameSize(width, height) {
      window.parent.postMessage(["setSize", width+"#"+height], "*"); 
  	}
  </script>
  <script>
	  var app = angular.module('smc', []);
	  app.service('XMPPService', ['$rootScope',
        function ($rootScope) {
          var me = this;
          
          Strophe.log = function (level, msg) {
            if(level == Strophe.LogLevel.FATAL || level == Strophe.LogLevel.ERROR) {
              if(window.console) console.error(msg);
              //xmpp.showErrorMessage();
            }
          };
          
          me.init = function (domain, boshUrl, pluginUrl, maxParticipants) {
            me.domainName = 'jyu131';//domain;
            me.BOSH_SERVICE = 'https://localhost:7443/http-bind/';//boshUrl;
            me.PLUGIN_SERVICE = 'http://localhost:9090/plugins/';//pluginUrl;
            me.MAX_PARTICIPANT_NUMBER = maxParticipants <= 0 ? 9999999 : maxParticipants;
          };
          
          me.connect = function(userName, password, lwssoKey) {
            var localJID = Strophe.escapeNode(userName);
            me.JID = localJID;
            me.connection = new Strophe.Connection(me.BOSH_SERVICE);
            me.connection.connect(localJID+'@'+me.domainName, password, me.onConnect);
          };
          
          me.onConnect = function(status) {
            me.connectionStatus = status;
            if (status == Strophe.Status.CONNECTING) {
              if(window.console) console.debug('connecting');
              //xmpp.handleConnecting();
            } else if (status == Strophe.Status.CONNFAIL) {
              if(window.console) console.debug('CONNFAIL');
              //xmpp.handleConnectFailed();
            } else if (status == Strophe.Status.DISCONNECTING) {
              if(window.console) console.debug('DISCONNECTING');
              //xmpp.handleDisconnecting();
            } else if (status == Strophe.Status.DISCONNECTED) {
              if(window.console) console.debug('DISCONNECTED');
              alert('xmpp.js disconnected');
              //xmpp.handleDisconnected();
            } else if (status == Strophe.Status.CONNECTED) {
              if(window.console) console.debug('CONNECTED');
              me.handleConnected();
            } else if (status == Strophe.Status.AUTHFAIL){
              if(window.console) console.debug('AUTHFAIL');
              //xmpp.handleAuthFailed();
            }
          };
          
          me.handleConnected = function() {
            //Strophe is connected
            //connection.addHandler(xmpp.onPresenceHandler, null, 'presence');
            me.connection.addHandler(me.onMessageHandler, null, 'message');
            var presence = $pres().c('show').t('chat').up().c("priority").t("100").up().c('status').t('online aa');
            me.connection.send(presence);
            
            //test subscribe to pub
            //firstly, try to subscribe to the pub
            //if failed, then create and configure the pub, and then broadcast message to the pub
            //if success, directly broadcast message to the pub
            //note:after first time subscribe, it always send the last message to me
            var pubName = 'test5';
            //me.subscribeToPub(pubName);//, me.broadcastToPub.bind(this, pubName, 'hello', XMPP.JID)
            me.getSubscriptions(function(subs){
              var found = false;
              for(var i=0;i<subs.length;i++) {
                if(subs[i] == pubName) {
                  found = true;
                  break;
                }
              }
              //I have never subscribed to this pub, now subscribe to it
              if(!found) {
                me.subscribeToPub(pubName);
              }
            });
          };
          me.broadcastToPub = function(pubName, msg, who) {
        	  var subiq = $iq({to:'pubsub.'+me.domainName,type:'set'})
      			.c('pubsub',{xmlns:'http://jabber.org/protocol/pubsub'})
          		.c('publish',{node:pubName})
          		.c('item')
          		.c('x', {xmlns:'jabber:x:data', type:'result'})
          		.c('field', {'var':'msg'})
      	        .c('value').t(msg)
      	        .up().up()
      	        .c('field', {'var':'fromwho'})
      	        .c('value').t(who);
        	  me.connection.sendIQ(subiq, function(ret){
        	    alert('send msg to pub successfully');
            }, function(ret){
              alert('send msg to pub failed');
            });
          };
          me.subscribeToPub = function(pubName, callback) {
            //after connected, subscribe firstly, if failed, then create the pub
      	    var subiq = $iq({to:'pubsub.'+me.domainName,type:'set'})
          			.c('pubsub',{xmlns:'http://jabber.org/protocol/pubsub'})
              		.c('subscribe',{node:pubName, jid:me.JID+'@'+me.domainName});
      	    me.connection.sendIQ(subiq, function(ret){
      		  alert('subscribe successfully');
      		  if(callback) {
      		    callback();
      		  }
      		}, function(ret){
      		  //if can't subscribe, then create the pub
      		  me.createPub(pubName, callback);
      		});
          };
          me.createPub = function(pubName, callback) {
            var createiq = $iq({to:'pubsub.'+me.domainName,type:'set'})
            			     .c('pubsub',{xmlns:'http://jabber.org/protocol/pubsub'})
                           .c('create',{node:pubName});
            me.connection.sendIQ(createiq, function(ret){
              //after create pub, configure it
              me.configPub(pubName, callback);
            }, function(ret){
              alert('create pub failed');
            });
          };
          me.configPub = function(pubName, callback) {
            var requestConfigiq = $iq({to:'pubsub.'+me.domainName,type:'get'})
                        .c('pubsub',{xmlns:'http://jabber.org/protocol/pubsub#owner'})
      			      .c('configure',{node:pubName});
            me.connection.sendIQ(requestConfigiq, function(ret){
              var configiq = $iq({to:'pubsub.'+me.domainName,type:'set'})
      			      .c('pubsub',{xmlns:'http://jabber.org/protocol/pubsub#owner'})
      			      .c('configure',{node:pubName})
      			      .c('x',{xmlns:'jabber:x:data', type:'submit'})
      			      .c('field', {'var':'FORM_TYPE'})
      			      .c('value').t('http://jabber.org/protocol/pubsub#node_config')
      			      .up().up()
      			      .c('field', {'var':'pubsub#deliver_payloads'})
      			      .c('value').t('1')
      			      .up().up()
      			      .c('field', {'var':'pubsub#persist_items'})
      			      .c('value').t('true')
      			      .up().up()
      			      .c('field', {'var':'pubsub#max_items'})
      			      .c('value').t('30')
      			      .up().up()
      			      .c('field', {'var':'pubsub#publish_model'})
      			      .c('value').t('open')
      			      .up().up()
      			      .c('field', {'var':'pubsub#access_model'})
      			      .c('value').t('open')
      			      .up().up()
      			      .c('field', {'var':'pubsub#send_last_published_item'})
      			      .c('value').t('never');
              me.connection.sendIQ(configiq, function(ret){
      		    alert('configured successfully');
      		    if(callback) {
      		      callback();
      		    }
      		  }, function(ret){
      		    alert('configured failed');
      		  });
      	    }, function(ret){
      		  alert('request configure failed');
      	    });
          };
          me.getSubscriptions = function(callback) {
            var getiq = $iq({to:'pubsub.'+me.domainName,type:'get'})
      			      .c('pubsub',{xmlns:'http://jabber.org/protocol/pubsub'})
      			      .c('subscriptions');
            me.connection.sendIQ(getiq, function(ret) {
              var subNodes = ret.getElementsByTagName('subscription');
              var subs = [];
              for(var i=0;i<subNodes.length;i++) {
                subs.push(subNodes[i].getAttribute('node'));
              }
              if (callback) {
                callback(subs);
              }
            }, function(ret) {
              alert('getSubscriptions failed');
            });
          };
          me.onMessageHandler = function(msg) {
            if(msg.getAttribute('from').startsWith('pubsub')) {
              //it's pubsub message
              var ret = '';
              var fields = msg.getElementsByTagName('field');
              for(var i=0;i<fields.length;i++) {
                var key = fields[i].getAttribute('var');
                var value = fields[i].firstChild.firstChild.nodeValue;
                ret += key+':'+value+';';
              }
              console.error('receiver:'+ret);
            } else {
              //other kind of messages
              console.error('receiver others:'+ret);
            }
            return true;
          };
          //
        }
      ]);
	  app.controller('smcCtrl', ['$scope', '$timeout', 'XMPPService', function($scope, $timeout, XMPPService) {
	      $scope.launchButtonShow = false;
	      $scope.showLaunchButton = function() {
	  	    this.launchButtonShow = true;
	  	    $timeout(function() {
	  	    	var width = $('#launchChatPanel').outerWidth();
	  	    	var height = $('#launchChatPanel').outerHeight();
	  	  	    changeIFrameSize(350, 280);
	  	    }, 500);
	  	  };
	      $scope.hideLaunchButton = function() {
	  	  	  this.launchButtonShow = false;
		  	    $timeout(function() {
			    	  var width = $('#showChatBtn').outerWidth();
			    	  var height = $('#showChatBtn').outerHeight();
			    	  changeIFrameSize(width+30, height);
		  	    }, 500);
	  	  };
	  	  $scope.startChat = function() {
	  	    XMPPService.init('','','',999);
	        XMPPService.connect('falcon','1','');
	  	    //alert(this.question);
	  	  }
	  }]);
	  
	  //after initial, change iframe size immediately
	  var width = $('#showChatBtn').outerWidth();
	  var height = $('#showChatBtn').outerHeight();
	  changeIFrameSize(width+30, height);
  </script>
</html>
